sudo: false
dist: trusty

language: node_js
node_js: 8.11

addons:
  chrome: stable

script:
  - npm test

after_success:
  - npm install -g codecov
  - codecov --file ${TRAVIS_BUILD_DIR}/coverage/lcov.info --disable search
